<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633031618347-k2rp8u9neg1ssm4ec0ls0cm1g1vgeafp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633031618347-k2rp8u9neg1ssm4ec0ls0cm1g1vgeafp</string>
	<key>API_KEY</key>
	<string>AIzaSyBF0FS-yphCiScKYdRyASB-oc7dKFhAfhE</string>
	<key>GCM_SENDER_ID</key>
	<string>633031618347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-d6b39</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-d6b39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633031618347:ios:3dd1c531f2813ca77a9f6e</string>
</dict>
</plist>